/* CARTAS DE PRODUCTOS */

.producto {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.producto .comprar {
    text-decoration: none;
    background-color: var(--clr-main);
    color: rgb(5, 5, 5);
    width: max-content;
    transition: .2s;
}

.producto .comprar:hover {
    background-color: rgb(7, 7, 7);
    color: white;
}
 

.producto-detalle {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.producto-detalle img {
    width: 50%;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}

.categoria {
    font-size: .8rem;
    color: #424242;
    margin-top: 1rem;
}

.precio {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

/* ESTILOS LOGO BARRA  */

.image {
    padding-right: 14rem;
    
}

.titulo h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .titulo-carta {
    font-family: 'Times New Roman', Times, serif;
  }
  

  /* mas estilos */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --clr-main: #000000;
    --clr-main-light: #efdaf9;
}

.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}

.main-title {
    font-family: 'Times New Roman', Times, serif;


}

.navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-main);
}

.logo {
    text-decoration: none;
    color: black;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.menu-link:hover {
    text-decoration: underline;
}


.producto {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.producto > div {
    padding: 1rem;
    background-color: var(--clr-main-light);
    display: flex;
    flex-direction: column;
}

.producto > img {
    width: 100%;
    object-fit: cover;
}

.producto .ver-mas {
    text-decoration: none;
    background-color: var(--clr-main);
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
}

.producto .ver-mas:hover {
    background-color: black;
    color: white;
}

.producto-detalle {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.producto-detalle img {
    width: 100%;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}

.categoria {
    font-size: .8rem;
    color: #424242;
    margin-top: 1rem;
}

.precio {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

.item-count {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.item-count button, .agregar-al-carrito, .enviar {
    background-color: var(--clr-main);
    border: 0;
    width: 2rem;
    height: 2rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid var(--clr-main);
    text-decoration: none;
    transition: .2s;
}

.botoncito{
    background-color: var(--clr-main);
    border: 0;
    color: white;
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--clr-main);
    text-decoration: none;
    transition: .2s;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.product-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 400px;
  }

  .tamano{
    height: 10px;
  }
  
.centrar{
    text-align: center;
}
  .letra{
    font-size: 1,5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  


.item-count button:hover, .agregar-al-carrito:hover, .enviar:hover {
    background-color: white;
    color: black;
}

.agregar-al-carrito, .enviar {
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.formulario input {
    width: 18rem;
}

.formulario input:focus {
    outline: 0;
    border: 2px solid var;
    outline: 2px solid var(--clr-main);
}

/* estilos carrusel */
.carousel-container {
    width: 60%; 
    margin: 0 auto; 
  }
  
  .main-title {
    text-align: center; 
    margin-bottom: 20px;
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
  }
  
  .carousel-container {
    flex: 1; 
  }
  
  .text-container {
    flex: 1; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

  }
  
/* estilos contacto */
.contenedor {
  display: flex;
}

/* estilos contacto */
.registrate {
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(184, 182, 182, 0.1);
  background-color: #fbfcfe; 
  border: 1px solid #bcb8b8; 
  width: 350px;
  align-items: center;
  display: flex; 
  flex-direction: column; /* Alinea los elementos en columna */
}

.formulario input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.formulario input::placeholder {
  color: #888;
  font-style: italic;
}

.enviar {
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  
}

.enviar:hover {
  background-color: #c1bebe;
}

.card-item {
    padding: 1rem;
    text-align: center;
}

.hidden-arrows {
    -webkit-appearance: none;
}
